@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
.site-header {
  background-image: url(../img/header.1af6756a.png);
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.sticky-navbar-flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flexbox-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-sticky {
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  right: 0;
  height: 45px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 7%);
  background: #fff;
  padding: 8px 0;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transition: all 0.18s ease-in-out;
  -ms-transition: all 0.18s ease-in-out;
  -webkit-transition: all 0.18s ease-in-out;
}
.sticky-logo-wrapper {
  display: inline-block;
}
.sticky-logo-wrapper img {
  width: 40px;
  vertical-align: middle;
}

.visible {
  opacity: 1;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.navbar-sticky .sticky-link-wrapper {
  margin: 5px 0 0;
  width: calc(100% - 50px);
  text-align: right;
  vertical-align: middle;
}

.sticky-link-wrapper li {
  display: inline-block;
  vertical-align: middle;
}
.sticky-link-wrapper a {
  color: #090909;
  font-size: 14px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.1s ease-in;
  text-decoration: none;
}
.sticky-link-wrapper i {
  font-size: 16px;
}
.sticky-link-wrapper a:hover {
  color: #e0234e;
}
.navbar {
  width: 100%;
}
.navbar-flexbox {
  padding: 24px 7px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  max-width: 70px;
}
.navbar-links {
  margin-left: 25px;
  padding-left: 40px;
  display: inline-block;
}
.navbar-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  margin-left: 25px;
  transition: 0.1s ease-in;
}
.navbar-links a:hover {
  color: #e0234e;
}
.navbar-links i {
  font-size: 22px;
}
.header-content {
  padding-top: 115px;
  padding-right: 7px;
  padding-left: 7px;
  width: 100%;
  color: #fff;
}
.header-content h1 {
  font-weight: 600;
  font-size: 55px;
  margin: 0 0 5px;
  line-height: 75px;
}
.header-content h4 {
  font-weight: 500;
  max-width: 600px;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}
.header-content-flexbox-buttons {
  display: flex;
  padding: 60px 0px;
  gap: 25px;
}
.button-a {
  background-color: #ea2845;
  border: 2px solid #ea2845;
  border-radius: 30px;
  outline: none;
  padding: 16px 28px;
  color: white;
  min-width: 230px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.15s;
  cursor: pointer;
}
.button-a:hover {
  background-color: transparent;
}
.button-b i {
  margin-right: 10px;
}
.button-b {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  outline: none;
  padding: 16px 28px;
  color: white;
  min-width: 230px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.15s;
  cursor: pointer;
}
.button-b i {
  font-size: 18px;
}
.button-b:hover {
  border: 2px solid #ea2845;
  color: #ea2845;
}
/* highlights section*/

.highlights {
  background-color: #f1f3f3;
  padding-top: 100px;
  padding-bottom: 100px;
}
.highlights-flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.highlights img {
  width: 70px;
}
.highlights h5 {
  font-weight: 700;
  font-size: 18px;
  color: #ea2845;
  margin: 40px 0 0;
}
.highlights p {
  font-size: 16px;
  font-weight: 500;
  max-width: 300px;
  margin: 20px auto;
  line-height: 30px;
}
.highlights-text {
  text-align: center;
}

.extensible,
.versatile,
.progressive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progressive {
  padding-top: 10px;
}
/* enterprise section */
.enterprise-section {
  background-image: url(../img/support.b363d5ad.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-color: #ed1543;
  height: 500px;
  overflow: hidden;
}
.enterprise-flexbox {
  display: flex;
  justify-content: end;
  align-items: center;
}
.enterprise-content {
  width: 60%;
  padding: 90px 0px;
}
.enterprise-content h2 {
  font-size: 32px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 26.56px;
  color: #fff;
}
.enterprise-content p {
  font-weight: 500;
  color: #fff;
  line-height: 32px;
  margin: 17.5px 0px 60px 0px;
  font-size: 17.5px;
  line-height: 32px;
}
.enterprise-content a {
  min-width: 200px;
  font-weight: 600;
  background: #fff;
  color: #ed1543;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.1s ease-in;
}
.enterprise-content a:hover {
  background: transparent;
  color: #fff;
}
/* iframe section*/

.iframe-section {
  background: #111;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}
.iframe-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-text h4 {
  font-size: 36px;
  margin: 0;
  line-height: 60px;
}
.title-text p {
  font-weight: 500;
  max-width: 700px;
  margin: 15px auto 100px;
  font-size: 16px;
  line-height: 30px;
}
/* video section */

video {
  cursor: pointer;
}

.video-section {
  background-color: #0a0a0a;
  padding-top: 100px;
  padding-bottom: 100px;
}
.video-section-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video-section h4 {
  color: #fff;
  font-size: 36px;
  margin: 0;
  line-height: 60px;
  text-align: center;
}
.video-section p {
  text-align: center;
  font-weight: 500;
  max-width: 700px;
  margin: 15px auto 100px;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
.video-section p a {
  color: #ed1543;
  font-weight: 600;
  text-decoration: none;
}

/*--Video Player Area--*/

.video-container {
  width: 75%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.video-controls {
  right: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5)
  );
}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

.video-progress {
  position: relative;
  height: 8.4px;
  margin-bottom: 10px;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 100%;
  height: 8.4px;
  pointer-events: none;
  position: absolute;
  top: 0;
}

progress::-webkit-progress-bar {
  background-color: #474545;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background: #ed1543;
  border-radius: 2px;
}

progress::-moz-progress-bar {
  border: 1px solid #ed1543;
  background: #ed1543;
}

.seek {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
  margin: 0;
}

.seek:hover + .seek-tooltip {
  display: block;
}

.seek-tooltip {
  display: none;
  position: absolute;
  top: -50px;
  margin-left: -20px;
  font-size: 12px;
  padding: 3px;
  content: attr(data-title);
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.bottom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-controls {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.volume-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.volume-controls input {
  width: 100px;
  opacity: 1;
  transition: all 0.4s ease;
}

.volume-controls:hover input,
.volume-controls input:focus {
  width: 100px;
  opacity: 1;
}

button {
  cursor: pointer;
  position: relative;
  margin-right: 7px;
  font-size: 12px;
  padding: 3px;
  border: none;
  outline: none;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

button::before {
  content: attr(data-title);
  position: absolute;
  display: none;
  right: 0;
  top: -50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: bold;
  padding: 4px 6px;
  word-break: keep-all;
  white-space: pre;
}

button:hover::before {
  display: inline-block;
}

.fullscreen-button {
  margin-right: 0;
}

.pip-button svg {
  width: 26px;
  height: 26px;
}

.playback-animation {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 8.4px;
  background: transparent;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-radius: 1.3px;
  -webkit-appearance: none;
  transition: all 0.4s ease;
}

input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #ed1543;
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -1px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type="range"].volume {
  height: 7px;
  background-color: #474545;
  border-radius: 16px;
}

input[type="range"].volume::-webkit-slider-runnable-track {
  background-color: transparent;
}

input[type="range"].volume::-webkit-slider-thumb {
  margin-left: 0;
  height: 15px;
  width: 15px;
  background: #fff;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 1.3px;
}

input[type="range"]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50px;
  border: 1px solid #ed1543;
  background: #ed1543;
  cursor: pointer;
  margin-top: 5px;
}

input[type="range"]:focus::-moz-range-track {
  outline: none;
}

input[type="range"].volume::-moz-range-thumb {
  border: 1px solid #fff;
  background: #fff;
}

.hidden {
  display: none;
}

svg {
  width: 28px;
  height: 28px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
}

/*--Video Player Area--*/

.supporters-section {
  margin-bottom: 47 px;
  max-width: 1200 px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.supporters-section img {
  vertical-align: middle;
  margin: 15px;
  filter: grayscale(1);
  opacity: 0.5;
}
.supporters-section img:hover {
  filter: none;
  opacity: 1;
}
.supporters-section a {
  text-decoration: none;
  align-self: center;
}
.supporters-section-header-text {
  margin-bottom: 100px;
  margin-top: 100px;
  line-height: 30px;
}
.supporters-section-header-text h1 {
  font-size: 36px;
  margin: 0;
  line-height: 60px;
  color: #ed1543;
  margin-bottom: 20px;
}
.supporters-section-header-text p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.supporters-row {
  margin-top: 42px;
}
.supporters-row h5 {
  font-size: 17px;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
}
.principal-logo {
  width: 240px;
  max-width: 100%;

  margin: 15px;
}
.principal-logo-slim {
  max-height: 50px;
  width: auto;
}
.gold-logo {
  max-width: 185px;
  max-height: 100px;
  margin: 15px;
}
.silver-logo {
  width: 170px;
  max-width: 100%;
}
.button-end {
  margin-top: 62px;
  margin-bottom: 100px;
}
.button-end:hover {
  background-color: black;
  border-color: black;
}
.footer {
  background: #e8e8e8;
  padding: 45px 0px 35px;
  line-height: 25px;
}
.footer-flexbox {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-end;
}
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60%;
  z-index: 1000;
}
.footer-text h1 {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 4px;
  color: #111;
}
.footer-text p {
  font-size: 14px;
  margin: 0;
  color: #7b7b7b;
  font-weight: 500;
}
.footer-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40%;
  text-align: right;
  width: 40%;
  position: relative;
  margin-top: 5px;
  position: relative;
}
.bi-envelope {
  position: absolute;
  font-size: 135px;
  color: #dedede;
  left: -620px;
  top: -64px;
  transform: rotate(-20deg);
  z-index: 0;
}
.footer-form-wrapper {
  display: block;
  margin-top: 0em;
  margin-block-end: 1em;
}

.footer-form button {
  background: #ed1543;
  padding: 8px 18px;
  border: 0;
  color: #fff;
  margin-left: -45px;
  font-size: 14px;
  vertical-align: middle;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.footer-form input[type="text"] {
  border: 0;
  font-size: 13px;
  padding: 10px 20px;
  background: #fdfdfd;
  width: calc(100% - 100px);
  height: fit-content;
  box-shadow: -2px 2px 3px #dcdcdc;
  border-radius: 3px;
  max-width: 100%;
  vertical-align: middle;
}
/* Credit Section */
.credit-section {
  padding: 75px 0px 75px;
  text-align: center;
  background-color: #f1f3f3;
}
.credit-section p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #a5a5a5;
}
.credit-section p a {
  color: #ea2845;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .vanisher-4 {
    display: none;
  }
  .enterprise-section {
    background-position: -250px bottom;
  }
}
@media only screen and (max-width: 992px) {
  .site-header {
    background-position: 35% bottom;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-sticky {
    opacity: 0;
  }
  .navbar-flexbox {
    padding: 24px 7px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-content-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content-flexbox-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .highlights-flexbox {
    display: flex;
    flex-direction: column;
  }
  .enterprise-section {
    background-position: -400px bottom;
  }
  .enterprise-content {
    text-align: center;
    padding: 70px;
  }
  .vanisher-2,
  .vanisher-3 {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .enterprise-section {
    background-position: -400px bottom;
  }
  .vanisher-2,
  .vanisher-3 {
    display: none;
  }
}
@media only screen and (max-width: 670px) {
  .header-content {
    padding-top: 85px;
  }
  .vanisher-1 {
    display: none;
  }
  .header-content-flexbox-buttons {
    padding: 65px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .button-a {
    background-color: #ea2845;
    border: 2px solid #ea2845;
    border-radius: 30px;
    outline: none;
    padding: 16px 80px;
    color: white;
    min-width: 230px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.15s;
    cursor: pointer;
  }
  .button-a:hover {
    background-color: transparent;
  }
  .button-b i {
    margin-right: 10px;
  }
  .button-b {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    outline: none;
    padding: 16px 80px;
    color: white;
    min-width: 230px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.15s;
    cursor: pointer;
  }
  .button-b i {
    font-size: 18px;
  }
  .button-b:hover {
    border: 2px solid #ea2845;
    color: #ea2845;
  }
  .enterprise-section {
    background-image: none;
  }
  .enterprise-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .enterprise-content {
    width: 100%;
    padding: 70px 0px 70px 0px;
  }
}
